<html>
    <body>
             <div id="slider">
                {% block slider %}
                    <img src="/home/chintan/web/projects/Learning/Kishan/symfony/demoSymfony/public/images/slider2.jpeg" height=100px>
                {% endblock %}
            </div>
    </body>
</html>